<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website was created by Somanna Machamada Uthappa.<br>The website uses data from darksky and mapbox.</p>
            <img class="portrait" src="./img/me.png"/>
        </div>
        {{>footer}}
    </body>
</html>